<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>


<p>Pokemon:</p>
<ul style="margin-top:-20px;">
<ul>
	
	<% if (@trainer.name == current_trainer.name) %>
		<% @trainer.pokemons.each do |pokemon| %> 
			<li><%= pokemon.name %>, Level: <%= pokemon.level %>, Health: <%= pokemon.health %> 
			<%= button_to "Damage!", damage_path(id: pokemon), :class => "button medium", :method => :patch %>

			<%= button_to "Heal!", heal_path(id: pokemon), :class => "button medium", :method => :patch %>
			</li>
		<% end %>
	<% else %>
		<% @trainer.pokemons.each do |pokemon| %>
			<% if (pokemon.health > 0) %>
			<li><%= pokemon.name %>, Level: <%= pokemon.level %>, Health: <%= pokemon.health %> 
			<%= button_to "Damage!", damage_path(id: pokemon), :class => "button medium", :method => :patch %>

			<%= button_to "Heal!", heal_path(id: pokemon), :class => "button medium", :method => :patch %>
			</li>
			<% end %>
		<% end %>
  	<% end %>
</ul>




<% if (@trainer.name == current_trainer.name) %>
	<p>Create a new Pokemon:</p>
	<%= button_to "Create!", newpokemon_path(id: @pokemon), :class => "button medium", :method => :get %>
<% end %>  




