<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>


<!-- have to access the pokemon from pokemon right.. find all with trainer id = @trainer.id -->
<p>ID: <%= @trainer.id if @trainer.id %></p>

<p>Pokemon:</p>
<ul>
	<%= @trainer.pokemons.each do |pokemon| %>
	<li><%= pokemon.name %>, Level: <%= pokemon.level %></li>
  	<% end %>
</ul>


<!-- WHY DOES MY TRAINER NAME SHOW UP AS TRAINER/5 BUT THE OTHERS DON'T? Also, after clicking on that, it shows the name field as blank... Not being saved from Devise's sign up form??  -->